

body {
  background-color: rgb(63, 0, 100);
}

img {
  height: 150px;
  margin-left:4.1px;
  margin-right: 4.1px;
  margin-bottom: 4px;

  padding: 0px;
  border-radius: 20px;
  position: static;
  border :5px solid #f1f1f1;
}
img:hover {
  transform: scale(1.1);
  border:5px solid gold;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(0, 0, 0);
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: x-large;
}


